*.npy
*.pkl
*~
embedded_gcnn2/.idea/
.idea/
embedded_gcnn2/lib/__pycache__/
embedded_gcnn2/data/summaries/mnist_quickshift_graph/events.out.tfevents.1554537739.DYNABOOK
*.pyc
embedded_gcnn2/data/summaries/mnist_quickshift_spatial/events.out.tfevents.1554305641.DYNABOOK
DCGAN_keras-master/train_images_mnist/
*.h5
DCGAN_keras-master/models_mnist/
dynamicalRBF/tflog/
DCGAN_keras-master/models_cifar10/
DCGAN_keras-master/train_images_cifar10/
DCGAN_keras-master/test_images_mnist/
DCGAN_keras-master/visualized_iris/
*.csv
