*.npy
*.pkl
*~
embedded_gcnn2/lib/model/__pycache__/placeholder.cpython-35.pyc
embedded_gcnn2/lib/model/__pycache__/model.cpython-35.pyc
embedded_gcnn2/lib/model/__pycache__/metrics.cpython-35.pyc
embedded_gcnn2/lib/model/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/download.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/dataset.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/cifar_10.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/augment.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/__pycache__/__init__.cpython-35.pyc
dynamicalRBF/tflog/events.out.tfevents.1557146743.DESKTOP-MO312VG
embedded_gcnn2/lib/tf/__pycache__/bspline.cpython-35.pyc
embedded_gcnn2/lib/tf/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/conv2d.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/chebyshev_gcnn.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/average_pool.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/spatial.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/grid.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/distortion.cpython-35.pyc
dynamicalRBF/model.jpg
dynamicalRBF/__pycache__/activations.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/coarsening.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/clustering.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/adjacency.cpython-35.pyc
embedded_gcnn2/lib/graph/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/queue.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/pascal_voc.cpython-35.pyc
embedded_gcnn2/lib/datasets/__pycache__/mnist.cpython-35.pyc
embedded_gcnn2/lib/tf/__pycache__/math.cpython-35.pyc
embedded_gcnn2/lib/tf/__pycache__/laplacian.cpython-35.pyc
embedded_gcnn2/lib/tf/__pycache__/convert.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/layer.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/inits.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/image_augment.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/gcnn.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/fire.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/fc.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/embedded_gcnn.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/pipeline/__pycache__/preprocess.cpython-35.pyc
embedded_gcnn2/lib/pipeline/__pycache__/file_queue.cpython-35.pyc
embedded_gcnn2/lib/pipeline/__pycache__/dataset.cpython-35.pyc
embedded_gcnn2/lib/pipeline/__pycache__/augment.cpython-35.pyc
embedded_gcnn2/lib/pipeline/__pycache__/__init__.cpython-35.pyc
embedded_gcnn2/lib/model/__pycache__/train.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/form_feature_selection.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/form_feature_extraction.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/feature_extraction.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/algorithm.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/var_layer.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/spatial.cpython-35.pyc
embedded_gcnn2/lib/layer/__pycache__/max_pool.cpython-35.pyc
embedded_gcnn2/lib/segmentation/__pycache__/adjacency.cpython-35.pyc
.idea/research.iml
.idea/workspace.xml
